.login-container{
    max-width: 900px;
}
.pass-form{
    padding: 20px;
}
.pass-form .pass-reset-content{
    display:  grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}
.pass-form .pass-reset-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.pass-form .pass-reset-inputs span{
    display: inline-block;
    text-align: start;
    max-width: 400px;
    width: 100%;
}

.resetpass-form .btn-submit{
    width: 50%;
   justify-self: center;
}

.resetpass-form .password-rules{
    text-align: left;
    font-size: 14px;
    width: 100%;
    max-width: 1fr;
}
/**
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pass-form{
    border: 2px black solid;
    border-radius: 5px;
    box-shadow: 5px 6px 1px 1px #423f3f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.pass-form input{
    width: 250px;
    height: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px black solid;
    outline: 0;
    font-size: 17px;
}
.pass-form label{
    font-weight: bolder;
    margin-bottom: 15px;
}

.pass-form button{
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
.pass-form button:hover{
    cursor: pointer;
    opacity: 3;
}
**/